
<div id="bottom-header" class="headhid">
    <div class="container">
      <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="logo"></a>

        <form class="d-flex">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-group hide">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Career Services
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Job By Categories</a></li>
                <li><a class="dropdown-item" href="#">Job By Location</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown" style="padding-right:20px; border-right: 1px solid #1a53a6;">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Upload Resume</a>
                </li>
                
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li style="padding-left:20px">
              <a href="#" target="_self" role="button" class="btn btn-outline-primary">Post a Job</a>
            </li>
            
          </ul>
          
        </div>
        <span style="padding-left: 20px;">
          <a class="btn btn-primary " style="background-color: #F05537;border: none;">Login/Register</a>
        </span>
      </nav>
      
     

    </div>

  </div>

  <div id="bottom-header" class="headhid">
    <div class="container">
        <div class="filter d-flex">
            <div class="col-lg-10">
                <div class="scrollmenu">
                    <a  class="filstyle">Experience<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Location<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">CTC<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Role<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Industry<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Function<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Job Type<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Education<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Work Mode<i class="bi bi-chevron-down ml-10"></i></a>
                    <a  class="filstyle">Joining Availability<i class="bi bi-chevron-down ml-10"></i></a>
                  </div>
            </div>
            <div class="col-lg-2">
                
                    <div class="scrollmenu">
                        <a  class="filstyle">Reset All</a>
                      </div>
                
                
            </div>
        </div>
    </div>
  
    </div>
  
