.pro-details .backcolor{
    background-color: #000;

}
.pro-details h1{
    font-size: 24px;
    font-weight: 600;
    margin:0px 0px 0px 0px ;
    color: #121262;
}
.pro-details h2{
    
    margin:0px 0px 0px 0px ;
}
.pro-details label{
    color: #000;
}
.pro-details .star{
    color: #EF0015;
}
.pro-details form{
    height: auto;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    vertical-align: middle;
    background-color: #fff;
    margin:10% auto;
    padding: 25px;
}

.pro-details input{
    border: 1px solid black;
}
.pro-details .mt-0 input{
    margin-top: 0px;
}
.pro-details .form-group1{
    display: flex;
    border: 1px solid;
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 30px;
}
.pro-details .form-check-label{
    margin-left: 10px;
}

.pro-details .form-check-labelrounded-circle{
    margin-left: 22px;
}
.pro-details .img_head{
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: gray;
    height: 100px;
    width: 100px;
}
.pro-details .head{
    margin-bottom: 0px;
}
​
.pro-details .fix-width{
    width: 30%;
}
.pro-details .imgstyle{
    height: 80px;
    width: 80px;
    background: #F3F3F3;
    /* padding: 15px 15px 0px 15px; */
    /* margin: 0px 0px 0px 0px; */
    border-radius: 50px;
}
.pro-details label, legend {
    display: block;
    font-weight: bold;
    font-size: 16px;
    font-weight: normal;
    margin: 13px 0px 0px 0px;
}
.pro-details input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
    
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    color: #808080;
    margin: 15px 0 15px 0;
    
    box-sizing: border-box;
    display: block;
    background-color: #fbfdff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: 1px solid;
    
}
.pro-details .form-check label{
    padding-top: 13px;
}
.pro-details .form-check-input{
    padding: 0px;
    margin-right: 10px;
}
.pro-details .marg{
    margin-top: 10px;
}
.pro-details .colr{
    color: #F42323;
}
.pro-details label img{
    height: 20px;
    width: 20px;
}
.pro-details .btn-color1{
    background-color: #FF7575;
    color: #fff;
    margin-right: 25px;
}
.pro-details .btn-color2{
    background-color: #54B4EA;
    color: #fff;
}
.pro-details .btn-verify{
    background-color: #54B4EA;
    color: #fff;
    height: 48px;
    margin: 15px 0px 0px 0px;
    padding: 0px 24px;
}
.pro-details .btn-otp-submit{
    background-color: #4D9F4C;
    color: #fff;
    height: 48px;
    margin: 15px 0px 0px 0px;
    padding: 0px 20px;
}
.pro-details .re-otp{
    text-align: end;
    text-decoration: none;
    color: #407BFF;
}
.pro-details .re-otp p{
    margin: 0px 0px 0px 0px;
}
.pro-details #linkedin{
    margin-bottom: 0px;
}