
<div class="pro-details">
    <div class=" backcolor">
    <div class="container fix-width">
        <div class="row">
            
            <form>
                <div class="head">
                    <div class="d-flex">
                    <div class="col-lg-11">
                        <h1>Professional Details</h1>
                    </div>
                    <div class="col-lg-1">
                        <p class="text-end"><b><i class="bi bi-x-square" (click)="cancel()"></i></b></p>
                    </div>
                </div>
                </div>

                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="row ">

                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div>
                                    <label for="total-work">Total Work Experience <span class="star">*</span> </label>
                                    <div class="row d-flex">
                                    <div class="col-lg-6">
                                    <select name="total-work" id="total-work" (ngModelChange)="years($event)" [(ngModel)]="professionalDetails.total_work_exp_years" [ngModelOptions]="{standalone: true}" >
                                        <option value="" selected disabled>Select</option>
                                        <option value="1 Years">1</option>
                                        <option value="2 Years">2</option>
                                        <option value="3 Years">3</option>
                                        </select>
                                   <span *ngIf="error.total_work_exp_years"><span class="error" *ngFor="let errorMessage of error.total_work_exp_years">{{errorMessage}}</span></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <select name="total-work" id="total-work"  (ngModelChange)="months($event)" [(ngModel)]="professionalDetails.total_work_exp_months"   [ngModelOptions]="{standalone: true}" >
                                            <option value="" selected disabled>Select</option>
                                            <option value="1 Month">1</option>
                                            <option value="2 Month">2</option>
                                            <option value="3 Month">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                        <label for="industry" >Industry <span class="star">*</span> </label>
                            <select name="industry" id="industry" (ngModelChange)="workingIndustry($event)" [(ngModel)]="professionalDetails.industry"   [ngModelOptions]="{standalone: true}" >
                            <option value="" selected disabled >Select the industry your company belongs to</option>
                            <option value="Yarn & FabricTextile & Apparel">Yarn & FabricTextile & Apparel</option>
                            <option value="Internet">Internet</option>
                            <option value="banking">Banking</option>
                            </select>
                        
                    </div>
                </div>

                <div class="row ">

                    <div class="col-lg-6 col-md-6 col-sm-6">  
                        <label for="functional-area">Functional Area<span class="star">*</span> </label>
                            <select name="functional-area" id="functional-area" (ngModelChange)="functionalArea($event)" [(ngModel)]="professionalDetails.functional_area"   [ngModelOptions]="{standalone: true}">
                            <option value="" selected disabled>Select the department you work in</option>
                            <option value="Banking Operations">Banking Operations</option>
                            <option value=""></option>
                            <option value=""></option>
                            </select> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">  
                        <label for="work-level">Work Level </label>
                            <select name="work-level" id="work-level" (ngModelChange)="workLevel($event)" [(ngModel)]="professionalDetails.work_level"   [ngModelOptions]="{standalone: true}">
                            <option value="" selected disabled>Select your work level </option>
                            <option value="Joiner Level">Joiner Level</option>
                            <option value="Mid Level">Mid Level</option>
                            <option value="Senior Level">Senior Level</option>
                            <!-- <option value="other"></option> -->
                            </select> 
                    </div>

                   
                    </div>

                    <div class="row ">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row ">
    
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div>
                                        <label for="total-work">Current CTC</label>
                                        <div class="row d-flex">
                                        <div class="col-lg-2">
                                        <select name="total-work" id="total-work">
                                            <option value="inr">INR</option>
                                            <option value="proficient"></option>
                                            <option value="proficient"></option>
                                            <option value="proficient"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-10">
                                            <!-- <input type="text" class="form-control" id="ctc" placeholder="Enter CTC"> -->
                                            <input type="text" class="form-control" id="ctc" [(ngModel)]="professionalDetails.current_ctc"  [ngModelOptions]="{standalone: true}"
                                placeholder="Enter CTC">
                                <!-- <span *ngIf="error.current_ctc"><span class="error" *ngFor="let errorMessage of error.current_ctc">{{errorMessage}}</span></span> -->
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for="key-skills">Key Skills</label>
                            <input type="text" class="form-control" id="key-skills" placeholder="Enter key skills">
                            <span class="d-flex"> <p><i class="bi bi-info-circle"></i> Mark your skills to highlight</p></span>
                        </div>
                    </div>

                <div class="row ">

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                        <label for="joining-availability">Joining Availability <span class="star">*</span> </label>
                            <select name="joining-availability" id="joining-availability"(ngModelChange)="joiningAvailability($event)" [(ngModel)]="professionalDetails.joining_availability"   [ngModelOptions]="{standalone: true}">
                            <option value="" selected disabled>Select joining availability </option>
                            <option value="Currently Serving Notice">Currently Serving Notice</option>
                            <option value="15 days">15 Days</option>
                            <option value="1 month">1 Month</option>
                            <option value="">More Than 30 Days</option>
                            </select>
                        
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                        <label for="work-mode">Work Mode <span class="star">*</span> </label>
                            <select name="work-mode" id="work-mode" (ngModelChange)="workMode($event)" [(ngModel)]="professionalDetails.work_mode_name"   [ngModelOptions]="{standalone: true}">
                            <option value="" selected disabled>Select work mode</option>
                            <option value="Work from home">Work from home</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Onsite">Onsite</option>
                            </select>
                        
                    </div>
                   
                    </div>

                    <div class="row ">
                        <div class="col-lg-6 col-md-6 col-sm-6">  
                            <label for="job-type">Job Type <span class="star">*</span></label>
                                <select name="job-type" id="job-type" (ngModelChange)="jobType($event)" [(ngModel)]="professionalDetails.job_type"   [ngModelOptions]="{standalone: true}">
                                <option value="" selected disabled>Select job type </option>
                                <option value="Permanent">Permanent</option>
                                <option value=""></option>
                                <option value=""></option>
                                </select> 
                        </div>

                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">  
                            <label for="nationality">Nationality<span class="star">*</span> </label>
                                <select name="nationality" id="nationality">
                                <option value="select-gender">Indian</option>
                                <option value="male"></option>
                                <option value="female"></option>
                                <option value="other"></option>
                                </select> 
                        </div> -->
                        </div>

                   

                <div class=" justify-content-center text-end">
                    <button type="button" class="btn btn-color1" (click)="cancel()">Cancel</button>
                    <button type="button" class="btn btn-color2" (click)="submit()">Save</button>
                </div>
                <!-- <div class="marg">
                    <h4><span>Having trouble ?</span><span class="colr">Contact Us</span> </h4>
                </div> -->
                
            </form>
        </div>
    </div>
    </div>
    </div>