
body{
    color: #464E5F;
    line-height: 15px;
  }
  p{margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 14px;
  color: #464E5F;
  }
  
  #main{
  background-color: #E9E9F3;
  padding: 25px 0px;
  }
  
  .btn-danger{
    background-color: #F05537;
  }
  
  .bg-blue{
    background-color: #159EEC;
  }
  
  /* // .bg-white{position: relative;
  //     max-height: calc(100vh - 75px);
  //     min-height: 100%;
  //     overflow: auto;
  //     width: 260px;
  //     z-index: 4;
  //     padding-bottom: 100px;
  // } */
  
  h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
  }
  
  .card-grid h4{
    padding: 0px 0px 3px;
    font-size: 14px;
  }
  
  a{
    text-decoration: none;
  }
  
  .card-heading h3, .card-heading p{
    color: white;
  }
  .card-heading h3{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
  }
  .card-heading p{
    font-size: 14px;
    
  }
  .card-heading{
    border-radius: 5px;
  }
  
  .card span{
    /* color: #086EA8; */
    color: red;
    font-weight: 600;
    font-size: 18px;
  }
  
  .recent-job ul{
    display: inline-flex;
    width: 100%;
  }
  .recent-job ul li{
    width: 100%;
    font-size: 12px;
  }
  
  .recent-job .loop h5{
  line-height: 15px;
  padding-bottom: 10px;
  color: #159EEC;
  
  }
  /* 
  // Recent application css///
  body {
    margin: 3em;
  } */
  
  .card-img-div{
    width: 20%;
  }
  .card-img-top {
   
    border-radius: 50%;
   
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  /* //   .card {
  //     padding: 1.5em 0.5em 0.5em;
  //     text-align: center;
  //     border-radius: 2em;
  //     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  //   } */
  .card-title {
    font-weight: bold;
    font-size: 12px;
  }
  .btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
  }
  /* //   .space .col-md-3{
  //     padding-left: 5px;
  //     padding-right: 5px;
  //   } */
  .card hr{
    margin: 10px 0px ;
  }
  .recent-job h3 {
    font-size: 18px;
  }
  .recent-job span{
    font-size: 14px;
  }
  .seeker-item a  h3{
   font-size: 12px;
  }
  .seeker-item a{
    margin-bottom: 10px;
  }
  hr{
    border:1px solid;
    /* color: #159EEC; */
  }
  
  .form-check p{
    color: #086EA8;
      font-weight: 600;
      font-size: 14px;
  
  }
  
  Blog section css
  .blog-section{
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .blog-section .card{
    border: none;
  }
  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  /* //   .card {
  //     flex-basis: 33.33333%;
  //     padding: 15px;
  //   } */
  .inner-card  {
    background-color: #EEF3FF;
    /* // padding: 15px; */
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
  }
  .img-wrapper {
    width: 100%;
    height:100%;
    margin-bottom: 10px;
  }
  .img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .blog-section .content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
  .content h1 {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
    color: #444;
  }
  .content p {
    font-size: 14px;
    color: #555;
  }
  .btn-wrapper {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .blog-section .content h1
  {font-size: 16px;
  font-weight: 600;}
  .view-btn {
    /* // width: 70%;
    // height: 40px; */
    border: none;
    color: #159EEC !important;
    background-color: white;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
  }
  .view-btn:hover {
    background-color: whitesmoke;
  }
  .light-box {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100vh;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-out;
  }
  .box {
    width: 600px;
    height: 400px;
    background-color: #fff;
    transform: scale(0);
    transition: all 200ms ease-in-out;
    padding: 10px;
    box-shadow: 0 3px 9px rgba(0,0,0,.1);
    position: relative;
  }
  .box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 15px;
  }
  .box .light-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .box .close-btn {
    position: absolute;
    z-index: 100;
    font-size: 30px;
    color: #ccc;
    left: 100%;
    top: 0;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 200ms linear;
  }
  /* Effect */
  .effect .light-box {
    opacity: 1;
    visibility: visible;
  }
  .effect .light-box .box {
    transform: scale(1);
  }
  .btn-wrapper {
    text-align: right;
  }
  
  /* ---ui change by gourav */
  .companyConfidential{
    margin-left: 240px;
  }
  .tips{
    margin-left:10px;
  }
  .imagetips{
    
  }
  *
  .screening{
    margin-top: -7px;
    margin-right: 11px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0px 0px;
  }
  
  .screeningSecond{
    margin-top: -7px;
    margin-right: 11px;
    border-radius: 110px;
    height: 25px;
    width: 25px;
  }
  
  .checkbox{
    padding: 4px;
    margin-top:0px
  }
  .savebtn{
  border-radius: 5px;
  padding: 3px;
  background-color: #159EEC;
  }
  
  .form-select{
    border: 1px solid;
    color: #808080;
    font-size: 14px;
  
  }
  
  
  .inputfield{
    border: 1px solid;
  }
  .form-check-label{
    /* margin: 7px; */
  }
  input:focus, textarea:focus, select:focus{
    border: 1px solid black;
    transition: 0.5s;
  }
  
  
  @media only screen and (max-width: 600px) {
    .companynamemobile{
      margin-left: 5px;
  
    }
   .savebtnmobile{
    margin-left: 146px;
    margin-top: -54px;
  
    }
  }




  

/* body{
    font-family: serif;
    background-color: #c5e1e4;
} */
section{
    background-color: #E9E9F3;
}
p{
    margin: 0px 0px 0px 0px;
}
.breadcrumb h1{
    font-size: 16px;
    margin: 20px 0px 0px 0px;
}
.breadcrumb p{
    font-size: 16px;
    margin: 20px 0px 0px 0px;
}
a {
   text-decoration: none;
   list-style: none;
}
.icon{
    height: 60px;
    width: auto;
    border: 1px solid #000;
}
.designation p{
    margin-top: 10px;
    font-size: 16px;
}
.marg{
    margin-left: 0px;
}
.btn-job{
    background: #fff;
    color: #407BFF;
    padding: 10px 15px;
    width: auto;
    height: 45px;
    border: 1px solid #407BFF;
    border-radius: 5px;
}
.card-footer{
    background-color: #fff;
    padding: 15px 25px 15px 25px;
}
.btn:hover {
    border: 1px solid #b7b6b6;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}
.foot{
    display: flex;
    justify-content: space-between;
}

.days{
   margin-top: 10px;
}
.days1{
    margin-top: 10px;
    margin-left: 25px;
 }
.exp-detail{
    margin-top: 5px;
}
.exp-detail h5{
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0px;
}
.designation h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: .03125em;
    margin: 0 0 16px;
}
.box-detail h4{
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}

.card-body{
    padding: 25px;
}
.card-1{
    margin-bottom: 25px;
    /* padding: 10px; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 6px 20px 0 rgb(0 0 0 / 11%);
}


.report-btn{
    float: right;
}

.apply-jobs{
    border: 1px solid #dbdbdb;
    padding: 15px;
    border-radius: 0.375rem;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 6px 20px 0 rgb(0 0 0 / 11%);
}

.mb-10{
    margin-top: 10px;
}

.mt-10{
    margin-top: 10px;
}

.simillar-job{
    float: right;
}

.simillar-job p{
    color: #3140ce;
    font-size: 20px;
}
.margright{
    margin-right: 25px;
}
.breadcrumb{
    display: flex;
    justify-content: space-between;
}

.breadcrumb a{
    color: green;
}

/* Media query Css */

@media screen and (max-width: 460px) {
    .btn-job{
        width: auto;
        margin-bottom: 10px;
        
    }
    .report-btn{
        display: flex;
    }
    .icon{
        margin-bottom: 8px;
        width: 80px;
    }
}


@media screen and (max-width: 1024px) {
    .btn-job{
        width: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .report-btn{
        display: flex;
    }
    .icon img{
        margin-bottom: 8px;
    }
}
.role-info b,
.role-info p {
    display: inline; /* or display: inline-block; */
    margin: 0; /* To remove any default margin */
    /* You can add other styles like padding, font-size, etc., as needed */
}

.ctcradio{
    border-radius: 50%;
    padding: 8px
}
p{
    /* font-weight: bold; */
    font-size: 14px
}
.btnSave{
    border-radius: 5px;
    padding: 12px;
    background-color: #159EEC;
    height: 41px;
    color: white;
}
.inputborder{
    border: 1px solid !important;
}
h5{
    color: #121262;
}
  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  