<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white">
            
            
                    <div>
                        <ul class="mt-3 mb-3" id="sidebar-menu">
                            <!-- <li class="row tabs-main" (click)="toggleSidebar()">
                                <a href="#" class="link">
                                    
                                        <img class="menu_icon" src="./assets/images/collapse.png" alt="Collapse">
                                        <span>Collapse</span>
                                    
                                </a>
                            </li>
                         -->
                        
                       
                          
                           <li class="row tabs-main  hover"><a class="link" [routerLink]="'/recruiter-dashboard'"><i class="glyphicon glyphicon-th-large"></i><span> My Dashboard</span></a></li>
                           <li class="row tabs-main  hover"><a class="link" [routerLink]="'/recuiter-viewEdit'"><i class="bi bi-person-fill mr-2"></i><span>View/Edit Profile</span></a></li>
                           <li class="row tabs-main  hover"><a class="link" [routerLink]="'/recruiter-postjob1'"><i class="bi bi-briefcase-fill"></i><span>Post Jobs</span></a></li>
                           <li class="row tabs-main  hover"><a class="link" [routerLink]="'/recruiter-manage-jobs'"><i class="bi bi-briefcase-fill"></i><span>Manage Jobs</span></a></li>
                           <li class="row tabs-main  hover"><a class="link" [routerLink]="'/recruiter-manage-candidate/:id'"><i class="bi bi-people-fill"></i><span>Manage Candidates</span></a></li>
                           <li class="row tabs-main  hover"><a class="link" [routerLink]="'/recruiter-reports'"><i class="bi bi-dashboard"></i><span>Report</span></a></li>
                           <li class="row tabs-main  hover"><a class="link"><i class="bi bi-gear-fill"></i><span>Setting</span></a></li>
                           <li class="row tabs-main  hover"><a class="link"><i class="bi bi-gear-fill"></i><span>Help</span></a></li>
                            
                        </ul>
                    
                
            </div>
        </div>
</div>
</div>


