<!-- <app-seekerhead></app-seekerhead> -->


<section class="individual-job">
    <div class="container pt-10">
        <div class="row">
            <div class="col-md-12 col-lg-8 col-sm-12">
                <div class="card card-2">
                    <div class="card-body pd-25">
                        <div class="designation">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="icon">
                                        <img src="../../../assets/images/blog-img.jpg">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="designation">
                                        <h1 class="mb-0">UI/UX Designer</h1>
                                        <h5>Company Name</h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="simillar-job">
                                        <a href="#" class="btn btn-job">Send Me Similar Jobs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="exp-detail">
                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="box-detail">
                                        <h4>Experience</h4>
                                        <p>3-4 Years</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-detail">
                                        <h4>Location</h4>
                                        <p>Lucknow</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-detail">
                                        <h4>CTC</h4>
                                        <p>5-8 Lpa</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-detail">
                                        <h4>Job Time</h4>
                                        <p>Full Time</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-detail">
                                        <h4>Work Mode</h4>
                                        <p>Onsite</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-detail">
                                        <h4>Number of Openings</h4>
                                        <p>5</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="col-md-6 d-flex">
                                <div class="days">
                                    <p><i class="bi bi-eye"></i> : 456</p>
                                </div>
                                <div class="days1">
                                    <p><i class="bi bi-clock-history"></i> : 2 days ago</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="simillar-job">
                                    <a href="#" class="btn btn-job">Apply Now</a>
                                </div>
                                <div class="simillar-job mr">
                                    <a href="#" class="btn btn-job">Save Job</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-2">
                    <div class="card-body pd-25">
                        <h1 class="mb-1">Job Description</h1>
                        <div class="summary">
                            <h5>Summary</h5>
                            <p>Develop user-centric, visually pleasing interfaces for web and mobile applications,
                                ensuring a seamless and enjoyable user experience.
                            Embrace an agile approach to design projects, responding adeptly to changing
                                requirements and priorities while upholding design excellence and meeting deadlines.
                            </p>
                            <h5 class="mt-3">Responsibilities</h5>
                            <ol>
                                <li><p>
                                    Develop user-centric, visually pleasing interfaces for web
                                    and mobile applications, ensuring a seamless and enjoyable user experience.
                                </p></li>
                                <li><p>
                                    Embrace an agile approach to design projects,
                                    responding adeptly to changing requirements and priorities while upholding
                                    design excellence and meeting deadlines.
                                </p></li>
                                <li><p>
                                    Collaborate closely with cross-functional teams, including
                                    developers, product managers, and stakeholders, to transform concepts and user
                                    stories into interactive designs.
                                </p></li>
                                <li><p>
                                    Participate in user research and usability testing to gain
                                    insights into user behaviour, needs, and preferences, using this information to
                                    inform your design decisions.
                                </p></li>
                            </ol>
                            <h5>Requirements</h5>
                            <ol>
                                <li><p>A degree in Interaction Design, UI/UX Design, or a related field.</p></li>
                                <li><p>Proficiency in design and prototyping tools, including Figma, Sketch, or Adobe
                                    XD.</p></li>
                                <li><p>Strong understanding of user-centred design principles and methodologies.</p></li>

                            </ol>
                            <h5>Benefits</h5>
                            <ol>
                                <li><p>A degree in Interaction Design, UI/UX Design, or a related field.</p></li>
                                <li><p>Proficiency in design and prototyping tools, including Figma, Sketch, or Adobe
                                    XD.</p></li>
                                <li><p>Strong understanding of user-centred design principles and methodologies.</p></li>

                            </ol>
                        </div>
                    </div>

                </div>

                <div class="card card-2">
                    <div class="card-body p-25">
                        <h1 class="mb-1">Additional Details</h1>
                        <div class="summary">
                            <p><b>Role</b>: Software Development</p>
                            <p><b>Industry Type</b>: IT Service And Consulting</p>
                            <p><b>Department</b>: Engineering Software And QA</p>
                            <p><b>Function</b>: Engineering----------------------QA</p>
                            <p><b>Key Skills</b>: Skills highlighted with ‘‘ are preferred keyskills (UI
                                Developement, Ui/Ux, UX, Web Developement)</p>
                            <p><b>Education</b>: B.Tech-CS</p>

                        </div>
                        <div class="report-btn mt-3">
                            <a href="#" class="btn btn-job mr-25">Report Job</a>
                            <a href="#" class="btn btn-job">Share Job</a>
                        </div>
                    </div>
                </div>

                <div class="card card-2">
                    <div class="card-body p-25">
                        <h1 class="mb-1">About Recruiter</h1>
                        <div class="summary">
                            <h5>Recruiter Name</h5>
                            <p>Job Role <b> At </b> Company Name</p>
                            <h5>Company</h5>
                            <p> Entertainment Network India Limited (ENIL) popularly known as Mirchi, owns 73
                                frequencies and is advertising partner for another 3, across 63 cities, making it
                                Indias largest private FM radio broadcaster. Launched in 2001, Mirchi now operates
                                across the country with 3 distinct brands- Mirchi, Mirchi Love & Ishq (advertising
                                partner of TV today network). With the highest listenership across the country and a
                                track record of developing innovative content, Mirchi has been expanding and
                                retaining its audiences and advertisers through the years.</p>

                        </div>
                        <div class="report-btn mt-3">
                            <a href="#" class="btn btn-job">Report This Company</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card card-1">
                    <div class="card-body">
                        <h1>Apply To Similar Jobs</h1>
                        <div class="apply-jobs">
                            <h5 class="mb-1">Fullstack Web Developer</h5>
                            <p>Company Name</p>
                            <div class="col-lg-12 d-flex justify-content-between my-10">
                               <div class="col-lg-4">
                                <p><i class="bi bi-briefcase"></i> 2-8 Years</p>
                               </div> 
                               <div class="col-lg-4">
                                <p><i class="bi bi-currency-rupee"></i> 7-18 Lpa</p>
                               </div> 
                               <div class="col-lg-4">
                                <p><i class="bi bi-clock"></i> Fulltime</p>
                               </div> 
                                
                               
                            </div>
                            <div class="col-lg-12 d-flex justify-content-between">
                                <div class="col-lg-4 ">
                                    <p><i class="bi bi-geo-alt"></i> Lucknow</p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-right">Posted 2 days ago</p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="apply-jobs">
                            <h5 class="mb-1">Fullstack Web Developer</h5>
                            <p>Company Name</p>
                            <div class="col-lg-12 d-flex justify-content-between my-10">
                               <div class="col-lg-4">
                                <p><i class="bi bi-briefcase"></i> 2-8 Years</p>
                               </div> 
                               <div class="col-lg-4">
                                <p><i class="bi bi-currency-rupee"></i> 7-18 Lpa</p>
                               </div> 
                               <div class="col-lg-4">
                                <p><i class="bi bi-clock"></i> Fulltime</p>
                               </div> 
                                
                               
                            </div>
                            <div class="col-lg-12 d-flex justify-content-between">
                                <div class="col-lg-4 ">
                                    <p><i class="bi bi-geo-alt"></i> Lucknow</p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-right">Posted 2 days ago</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3>Share This Job On WhatsApp </h3><i class="bi bi-whatsapp wa-style"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->