<tui-root>
<tui-root>
<div>
  
  <!-- <app-header></app-header> 
  
  <app-head></app-head>
  

  <app-hero></app-hero>
  <app-resume></app-resume>
  <app-seeker-steps></app-seeker-steps>
  <app-recruiter-steps></app-recruiter-steps>
  <app-jobs-category></app-jobs-category>
  <app-popular-jobs></app-popular-jobs>
  <app-blog></app-blog>
  <app-footer></app-footer>


  <app-seekerhead></app-seekerhead>
  <app-login></app-login>
  <app-footer></app-footer>

  <app-seekerhead></app-seekerhead>
  <app-otp></app-otp>
  <app-footer></app-footer>

  <app-seekerhead></app-seekerhead>
  <app-admindash></app-admindash>
  <app-footer></app-footer> -->

  <!-- <app-admin-side-bar></app-admin-side-bar> -->

  <!-- <app-seekerhead></app-seekerhead>
  <app-seekerbody></app-seekerbody>
  <app-footer></app-footer>

  <app-seekerhead></app-seekerhead>
  <app-editbody></app-editbody>
  <app-footer></app-footer>

  <app-basic-details></app-basic-details>
  <app-summary></app-summary>
  <app-personal-details></app-personal-details>

  <app-seekerhead></app-seekerhead>
  <app-profilebody></app-profilebody>
  <app-footer></app-footer>

  <app-seekerhead></app-seekerhead>
  <app-jobseekerset></app-jobseekerset>
  <app-footer></app-footer>

  <app-joblisthead></app-joblisthead>
  <app-joblisting></app-joblisting>
  <app-footer></app-footer>

  <app-seekerhead></app-seekerhead>
  <app-individual-job></app-individual-job>
  <app-footer></app-footer>  

  <app-seekerhead></app-seekerhead>
  <app-blog-list></app-blog-list>
  <app-footer></app-footer> 

  <app-seekerhead></app-seekerhead>
  <app-individual-blog></app-individual-blog>
  <app-footer></app-footer>  -->
</div>

<!-- <app-basic-details></app-basic-details>
<app-summary></app-summary>
<app-personal-details></app-personal-details>
<app-courses></app-courses>
<app-educational-details></app-educational-details>
<app-employment-details></app-employment-details>
<app-preferred-jobs></app-preferred-jobs>
<app-pro-details></app-pro-details>
<app-upload-resume></app-upload-resume> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-upload-resume></app-upload-resume> -->
<!-- <app-seeker-register></app-seeker-register> -->
</tui-root>
</tui-root>