<div class="container-fluid bg-black">
<div class="container bg-white">
    <div class="model-title d-flex">
        <div class="title"><h3>Professional Details</h3></div>
        <div class="cross"><button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></div>
    </div>
    <div class="upload-img">
        <div class="row">
            <div class="col-md-2">        <div class="img">
            <img alt="img" src="../../../assets/images/1128552721.jpeg">
        </div>
    </div>
<div class="col-md-10">
        <div class="upload-img-field">
<input type="file">
<span><i class="bi bi-info-circle mr-2"></i>Supported file format png, jpg, jpeg, gif | upto 3 Mb</span>

        </div>
        </div>
    </div>
    </div>
    <div class="form">
        <div class="row">
            <div class="col-md-6">
        <label for="fname">First Name<span>*</span></label>
        <input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
    </div>
    <div class="col-md-6">
        <label for="lname">Lirst Name<span>*</span></label>
        <input type="text" id="lname" name="lname" placeholder=" Enter last name   ">
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
    <label for="fname">First Name<span>*</span></label>
    <input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
</div>
<div class="col-md-6">
    <label for="lname">Lirst Name<span>*</span></label>
    <input type="text" id="lname" name="lname" placeholder=" Enter last name   ">
</div>
</div>
<div class="row">
    <div class="col-md-6">
<label for="fname">First Name<span>*</span></label>
<input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
</div>
<div class="col-md-6">
<label for="lname">Lirst Name<span>*</span></label>
<input type="text" id="lname" name="lname" placeholder=" Enter last name   ">
</div>
</div>
<div class="row">
    <div class="col-md-12">
<label for="fname">First Name<span>*</span></label>
<input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
</div>




</div>

    <div class="title"><h3>Company Details</h3></div>

<div class="row">
            <div class="col-md-6">
        <label for="fname">First Name<span>*</span></label>
        <input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
    </div>
    <div class="col-md-6">
        <label for="lname">Lirst Name<span>*</span></label>
        <input type="text" id="lname" name="lname" placeholder=" Enter last name   ">
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
    <label for="fname">First Name<span>*</span></label>
    <input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
</div>
<div class="col-md-6">
    <label for="lname">Lirst Name<span>*</span></label>
    <input type="text" id="lname" name="lname" placeholder=" Enter last name   ">
</div>
</div>
<div class="row">
    <div class="col-md-6">
<label for="fname">First Name<span>*</span></label>
<input type="text" id="fname" name="fname" placeholder=" Enter first name   ">
</div>
<div class="col-md-6">
<label for="lname">Lirst Name<span>*</span></label>
<input type="text" id="lname" name="lname" placeholder=" Enter last name   ">
</div>
</div>
<div class="row">
    <div class="col-md-12">
<label for="fname">Profile Summary<span>*</span></label>
<textarea id="fname" name="fname" placeholder=" Enter first name"></textarea>
<span>About should be more than 50 characters.</span>
</div>




</div>
<div class="row">
    <div class="col-md-12 text-end">
        <button class="btn btn-danger me-3">Cancel</button>
        <button class="btn btn-primary">Save</button>
    </div>
</div>
</div>

    
</div>
</div>
