<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-3">
                <div class="card">
                    <app-recruiter-sidemenu></app-recruiter-sidemenu>
                </div>
            </div>
            <div class="col-md-9 mt-2">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Candidate Profile</h2>
                    </div>
                    <div class="col-md-8 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary postJobBtn">Post a Job</button>
                    </div>
                </div>
                <div class="col-md-12 mt-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div style="height: 100%;">
                                        <img src="../../assets/images/dbs-bank.png" alt="..." class="img-thumbnail"><br>
                                        <div class="nameOfCandidate">
                                            <b style="font-size: 11px; color: darkblue;">Name Of Candidates</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="firstCradBlog mt-2">
                                                    <b>Job Role</b>
                                                    <p>------</p>
                                                </div>
                                                <div class="firstCradBlog">
                                                    <b>Languages</b>
                                                    <p>Hindhi, English</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="firstCradBlog mt-2">
                                                    <b>Location</b>
                                                    <p>Lucknow</p>
                                                </div>
                                                <div class="firstCradBlog">
                                                    <b>Key Skills</b>
                                                    <p>Html,Css,Javascript,jquery</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="firstCradBlog mt-2">
                                                    <b>Expected CTC</b>
                                                    <p>5 - 8 Lac</p>
                                                </div>
                                                <div class="firstCradBlog">
                                                    <b>Joining Availablilty</b>
                                                    <p>30 Days</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row nameOfCandidate">
                                        <div class="col-md-6">
                                            <h5>Last Active: 7 Hr Ago | Last Updated: 2 Days Ago</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary dropdown-toggle shortlistedBtn"
                                                    type="button" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">Shortlisted
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <b class="leftSecondBlog">Email Address</b>
                                    <p>abcd@gmail.com</p>
                                </div>
                                <div class="">
                                    <b class="leftSecondBlog">mobile Number</b>
                                    <p>1234567890</p>
                                </div>
                                <div class="">
                                    <b class="leftSecondBlog">Industry</b>
                                    <p>----------</p>
                                </div>
                                <div class="">
                                    <b class="leftSecondBlog">Functional Area</b>
                                    <p>----------</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="card">
                                    <h1 class="secondCradBlog">Employment Details</h1>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="secondCradBlog">
                                                <b>Current Employer</b>
                                                <p>Employer Name</p>
                                            </div>
                                            <div class="secondCradBlog">
                                                <b>Working Since</b>
                                                <p>----------------</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="secondCradBlog">
                                                <b>Role</b>
                                                <p>----------------</p>
                                            </div>
                                            <div class="secondCradBlog">
                                                <b>Current CTC</b>
                                                <p>----------------</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1>Resume</h1>
                                    </div>
                                    <div class="col-md-6 justify-content-end d-flex">
                                        <button type="button" class="btn btn-primary downloadBtn">Download</button>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-5 mt-4 mx-3">
                                            <div>
                                                <b>Kate <br> Bishop</b>
                                                <h4>Product Designer</h4>
                                                <p>Over 5 Years of professional experience conducting UX research and designing 
                                                    interactive end-to-end user flows. I enjoy working in close collaboration 
                                                    with teams Technology,business and design.
                                                </p>
                                            </div>
                                            <div>
                                                <h4>Contacts</h4>
                                                <div class="d-flex">
                                                    <i class="bi bi-envelope"></i>
                                                    <p class="contacts">kate.bishop@katedesign.com</p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="bi bi-linkedin"></i>
                                                    <p class="contacts">linkdin.com/in/kate-bishop</p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="bi bi-telephone-fill"></i>
                                                    <p class="contacts">+91 9856435678</p>
                                                </div>
                                            </div>
                                            <div>
                                                <h4>Skills</h4>
                                                <p>Product discovery</p>
                                                <p>Business analysis</p>
                                                <p>UX research</p>
                                                <p>User testing</p>
                                                <p>Customer journey mapping</p>
                                                <p>information architecture</p>
                                                <p>Wireframing</p>
                                                <p>Prototyping</p>
                                                <p>Ui design</p>
                                                <p>ilustration</p>
                                                <p>interaction design</p>
                                                <p>Design system</p>
                                                <p>Design sprints</p>
                                                <p>Workshop lacilitation</p>
                                                <p>A/B testing</p>
                                                <p>Kanban agile & scrum</p>
                                                <p>Product management</p>
                                            </div>
                                            <div>
                                                <h4>Tools</h4>
                                                <p>Figma,Sketch,Adobe illustrator, ProtoPie,Framer,Miro, Nation,Jira</p>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div>
                                                <b>Product Desginer</b>
                                                <h4>Fintef, Oct 2019 - present</h4>
                                                <p>. Designed end-to-end experience for financial products on mobile & web platforms.</p>
                                            </div>
                                            <div>
                                                <b>UX Desginer</b>
                                                <h4>Resume Worded, Sep 2017 -Sep 2019</h4>
                                                <p>. Rewamped website flows and navigation menus, reducing the frequency <br> 
                                                of misdirected customer service queries by 30%</p>
                                                <p>. Conducted user testing with 10+ participants using Usertesting .com; <br>
                                                designed agains findings which reduced bounce rate for primary user flow by 30%</p>
                                            </div>
                                            <div>
                                                <b>Associate UX Desiner</b>
                                                <h4>Growshi, Dec 2016 - Aug 2017</h4>
                                                <p>. Redesigned company,s homepage and lead genaration forms using <br>
                                                existing design system; reduced bounce rates by 40% and increased leads by 15%</p>
                                                <p>. Designed online customer support center comprising of a self-service <br>
                                                knowledge base and interactive chat bot cooched 15 summer interns.</p>
                                            </div>
                                            <div>
                                                <b>UX Analyst</b>
                                                <h4>Growshi Mar 2016 - Dec 2016</h4>
                                                <p>. Managed redesign of internal tracking system in use by 125 employees, <br>
                                                resulting in 20+ new features and 25% higher enagement</p>
                                                <p>. Worked with product managers to Validate design hypothesis by conducting <br>
                                                interviews and usability sessions </p>
                                            </div>
                                        </div>

                                            <div class="col-md-6 mt-4">
                                                <div class="eduLearning">
                                                    <h4>Education & Learning</h4>
                                                    <b>Master,s in Human-Computer Interaction</b>
                                                    <p>Copenhogen School of Design and Technology,<br>
                                                        Sep 2015 - Jun 2016</p>
                                                        <b>Bachler,s of Arts</b>
                                                        <p>Copenhogen School of design and Technology, <br>
                                                        Sep 2015 - Jun 2016</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-4">
                                                <div>
                                                    <b>Design Leadership Materclass</b>
                                                    <p>Design Lab inc, Mar 2020</p>
                                                    <b>UX: Interaction Design</b>
                                                    <p>Trydesignlab.com, Dec 2017</p>
                                                    <b>UX Design Specialization</b>
                                                    <p>Udacity.com,online course by Google,Aug 2016</p>
                                                    <b>Branding fundamentals</b>
                                                    <p>Design Lab inc Nov 2014</p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>