
<div class="courses">
    <div class=" backcolor">
    <div class="container fix-width">
        <div class="row">
            
            <form>
                <div class="head">
                    <div class="d-flex">
                    <div class="col-lg-11">
                        <h1>Courses/Certification</h1>
                    </div>
                    <div class="col-lg-1">
                        <p class="text-end"><b><i class="bi bi-x-square" (click)="cancel()"></i></b></p>
                    </div>
                </div>
                </div>

                <div class="border-style">

                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6">  
                        <div >
                            <label for="certification-name">Certification Name <span class="star" >*</span> </label>
                            <input type="text" class="form-control" id="certification-name"
                                placeholder="Please enter your certification name">
                        </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">  
                        <div >
                            <label for="issued-by">Issued By <span class="star" >*</span> </label>
                            <input type="text" class="form-control" id="issued-by"
                                placeholder="Ex. Google">
                        </div> 
                    </div>                
                    </div>

                    <div class="row ">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row ">
    
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="mb-0">
                                        <label for="issue-date">Issue Date <span class="star">*</span> </label>
                                        <div class="row d-flex">
                                        <div class="col-lg-6">
                                        <select name="issue-date" id="issue-date">
                                            <option value="issue-date">Month</option>
                                            <option value="proficient">1</option>
                                            <option value="proficient">2</option>
                                            <option value="proficient">3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select name="issue-date" id="issue-date">
                                                <option value="issue-date">Year</option>
                                                <option value="proficient">1</option>
                                                <option value="proficient">2</option>
                                                <option value="proficient">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            
                            <div class="row ">
    
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="mb-0">
                                        <label for="expiration-date">Expiration Date <span class="star">*</span> </label>
                                        <div class="row d-flex">
                                        <div class="col-lg-6">
                                        <select name="expiration-date" id="expiration-date">
                                            <option value="expiration-date">Month</option>
                                            <option value="proficient">1</option>
                                            <option value="proficient">2</option>
                                            <option value="proficient">3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select name="expiration-date" id="expiration-date">
                                                <option value="expiration-date">Year</option>
                                                <option value="proficient">1</option>
                                                <option value="proficient">2</option>
                                                <option value="proficient">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex ">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label >Currently Pursuing</label>
                                </div>
                        </div>
                    </div>

                        <div class="row ">
                            
                            <div class="col-lg-6 col-md-6 col-sm-6">  
                                <div >
                                    <label for="certificate-url">Certificate URL <span class="star" >*</span> </label>
                                    <input type="text" class="form-control" id="certificate-url"
                                        placeholder="Enter your certification url">
                                </div>      
                            </div>
                            </div>

                <div class=" justify-content-center text-end">
                    <button type="submit" class="btn btn-color3">Remove</button>
                    <button type="submit" class="btn btn-color4">Add</button>
                </div>
                <!-- <div class="marg">
                    <h4><span>Having trouble ?</span><span class="colr">Contact Us</span> </h4>
                </div> -->
            </div>
            <div class=" justify-content-center text-end">
                <button type="button" class="btn btn-color1" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-color2">Save</button>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>